body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fullScreen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../Media/bkg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    /* height: 700px; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
    color: #222;
    text-align: center;
}

.form-group {
    margin-bottom: 16px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 400;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
}

.login-button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}